<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div>
        <h1>Docker & k8s mini project example page</h1>
    </div>
    <div>
        <img src="{{ url_for('static', filename='docker_logo.png') }}" width="500" height="113"></img>
    </div>
    <div>        
        <img src="{{ url_for('static', filename='k8s_logo.png') }}" width="300" height="296"></img>
    </div>
    <div>        
        <img src="{{ url_for('static', filename='k8s_name.png') }}" width="500" height="74"></img>
    </div>
</body>
<footer>
</footer>
</html>
